@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  /* Colores */
  --color-primary: rgba(92, 41, 5, 1);
  --color-secondary: rgba(224, 187, 228, 1);
  --color-grey-2: rgba(79, 79, 79, 1);
  --color-grey-3: rgba(130, 130, 130, 1);
  --color-white: rgba(255, 255, 255, 1);
  
  /* Efectos */
  --dropshadow: 0px 4px 24px 0px rgba(9, 44, 76, 0.4);
  
  /* Tipografía */
  --font-family: "Inter", sans-serif;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  
  /* Encabezados */
  --heading-h1-size: 56px;
  --heading-h1-height: 61.6px;
  --heading-h2-size: 24px;
  --heading-h2-height: 29px;
  --heading-h3-font-family: "Inter", Helvetica;
  --heading-h3-font-size: 40px;
  --heading-h3-font-style: normal;
  --heading-h3-font-weight: 700;
  --heading-h3-letter-spacing: 0px;
  --heading-h3-line-height: 44px;
  --heading-h4-font-family: "Inter", Helvetica;
  --heading-h4-font-size: 32px;
  --heading-h4-font-style: normal;
  --heading-h4-font-weight: 700;
  --heading-h4-letter-spacing: 0px;
  --heading-h4-line-height: 35.2px;
  --heading-h5-font-family: "Inter", Helvetica;
  --heading-h5-font-size: 24px;
  --heading-h5-font-style: normal;
  --heading-h5-font-weight: 700;
  --heading-h5-letter-spacing: 0px;
  --heading-h5-line-height: 26.4px;
  --heading-h6-font-family: "Inter", Helvetica;
  --heading-h6-font-size: 20px;
  --heading-h6-font-style: normal;
  --heading-h6-font-weight: 600;
  --heading-h6-letter-spacing: 0px;
  --heading-h6-line-height: 22px;
  --text-medium-font-family: "Inter", Helvetica;
  --text-medium-font-size: 18px;
  --text-medium-font-weight: 400;
  --text-medium-line-height: 25.2px;
}

/* Aplicar la fuente globalmente para que las clases utilitarias no necesiten font-family */
html, body {
  font-family: var(--font-family);
}

/* Clases utilitarias */
.heading-h1 {
  font-size: var(--heading-h1-size);
  font-weight: var(--font-weight-bold);
  line-height: var(--heading-h1-height);
}

.heading-h2 {
  font-size: var(--heading-h2-size);
  font-weight: var(--font-weight-bold);
  line-height: var(--heading-h2-height);
}

.text-medium {
  font-size: 18px;
  font-weight: var(--font-weight-regular);
  line-height: 25.2px;
}

.card {
  background-color: var(--color-white);
  box-shadow: 0px 2px 8px rgba(9, 44, 76, 0.2);
  border-radius: 0.25rem;
  padding: 0.75rem;
}